<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Product</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Shop</a></li>
                <li><a href="/admin/products">Add Product</a></li>
            </ul>
        </nav>
    </header>
    <section>
        <form action="/admin/products" method="POST">
            <input type="text" name="title">
            <input type="text" name="price">
            <input type="text" name="description">
            <input type="text" name="imgUrl">
            <button type="submit">Add Product</button>
        </form>
    </section>
</body>
</html>